<style media="screen">
  a {
    color: white;
  }
  a:hover {
    color: white;
  }

  .purple {
    background-color: #9b47be;
  }

  .purple:hover {
    background-color: #9b47be;
    border:
  }
</style>

<div class="container">
  <!-- <div class="row">
    <div class="col-md-4 ml-auto mr-auto">

      <img src="<%= asset_path 'pb4.png' %>" class="img-fluid" alt="">
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-4 text-center ml-auto mr-auto pt-4">
      <!-- progress bar -->
      <img src="<%= asset_path 'brief-case.png' %>" style="height: 140px;"class="img-fluid" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 text-center ml-auto mr-auto">
      <h2>Are you a business looking to donate & help us save lives?</h2>
      <h5 class="pt-4">Please fill out the form and one of our representives will be in touch.</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="form-group pt-4">
        <input placeholder="Name"type="text" class="form-control" id="usr">
        <br>
        <input placeholder="Organisation"type="text" class="form-control" id="usr">
        <br>
        <input placeholder="Email"type="text" class="form-control" id="usr">
        <br>
        <input placeholder="Contact Number" type="text" class="form-control" id="usr">
        <br>
        <p>Give us an idea of what you are looking to donate:</p>
        <input type="text" class="form-control" id="usr" style="padding-bottom: 100px;">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 text-center ml-auto mr-auto">
      <p class="pt-3">
        <button type="button" href="/pages/thankyou" class="btn purple btn-round mr-0" style="padding: 10px 50px; font-size: 25px; margin-right: 0;"><a href="/pages/thankyou">Confirm</a></button>
      </p>

    </div>
  </div>
</div>
