<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/sections/david-marcu.jpg');">
  <div class="filter"></div>
  <div class="content-center">
    <div class="container">
      <div class="motto">
        <h1 class="title">We bring a life line to those in need</h1>
        <h3 class="description">Every donation to life savers supports suicide prevention</h3>
        <br>

        <button type="button" class="btn btn-outline-neutral btn-round">Donate Now</button>
      </div>
    </div>
  </div>

</div>
