<nav class="navbar navbar-expand-md bg-info">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="<%= asset_path 'nav-logo.png' %>" style="height: 45px;" alt=""> <span style="padding-left: 20px;">LifeSavers</span>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/pages/admin">
            Admin
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
